vendor/
node_modules/
composer.lock

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

.DS_Store
**/.DS_Store
.idea/
**/.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json